.container{
    width: 210px;
    position: absolute;
    top: 25%;
    left: 40%;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
body{
    background-color: hsl(217, 80%, 76%);
}
img{
    width: 210px;
    border-radius: 7px;
}
h3{
    font-family: Roboto, Arial;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    color: hsl(218, 44%, 22%);
}
.center{
    align-items: center;
    margin: auto;
}
p{
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial;
    font-weight: 400;
    font-size: 12px;
    color: hsl(212, 45%, 89%) ;
}